{% include head.html %}
<body style="margin: 10px">
  <link rel="stylesheet" href="/assets/css/styles.css">
<div class="bg-secondary text-white" style="margin:0px>;padding:10px;/* max-width: 100%; */">
  <h1>{{ page.nombre }}</h1>
  <p>{{ page.descripcion }}</p>
</div>
{% include menubsp.html %}
<br/>
{% if page.cartel and page.cartel != "" and page.cartel != nil %}
  <div>
    <img src="{{ page.cartel }}"  class="img-fluid rounded m-2" alt="{{ page.nombre }}" align="left">
  </div>
{% endif %}
    <h4><b>Profesor titular:</b> {{ page.profesortitular }}</a></h4>
    <div class="contenidoCurso">
      <p><b>Modalidad:</b> {{ page.modalidad }}</p>
      <p><b>Fecha de inicio:</b> {{ page.fechainicio }}</p>
      <p><b>Fecha de finalización:</b> {{ page.fechafinal }}</p>
      <p><b>Días lectivos:</b> {{ page.dias }}</p>
      <p><b>Días de la semana:</b> {{ page.diassemana }}</p>
      <p><b>Horario de la clase:</b> de {{ page.horainicio }} a  {{ curso.horafin }}</p>
      <p><b>Total de horas del curso:</b> {{ page.horas }}</p>
      <p><b>Precio:</b> {{ page.precio }}</p>
      {% if page.formularioinscripcion and page.formularioinscripcion != "" and page.formularioinscripcion != nil %}
        <p><b><a href="{{ page.formularioinscripcion }}">Inscríbete ahora</a> Plazas limitadas a 8 alumnos por curso</b>
      {% endif %}
    </div>
    <div class="contenidoCurso">
      <p><b>Contenido del curso:</b>
      {{ page.content | markdownify }}
    </div>
    {% if page.paypal and page.paypal != "" and page.paypal != nil %}
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="{{ page.paypal }}">
        <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
        <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
     </form>
    {% endif %}

<hr/>
<h2>Otros cursos:</h2>
{% for curso in site.cursos %}
  <div class="ngdao">
    <h3>{{ curso.nombre }}</h3>
    <h4>{{ curso.descripcion }}</a></h4>
    <div class="contenidoCurso">
      <p><b>Modalidad:</b> {{ curso.modalidad }}</p>
      <p><b>Fecha de inicio:</b> {{ curso.fechainicio }}</p>
    </div>
    <a href="{{ curso.url }}">Más información</a>
  </div>
{% endfor %}

</body>
